.dashboardLayout {
  display: flex;
  gap: 50px;
  /* padding-top: 20px; */
  height: 100%;

  .menu {
    flex: 1;
    padding: 2%;
    background: #f2f1f1;
    padding-right:0 ;
  }

  .content {
    flex: 4;
    background-color: #f9f9f9;
    padding: 2%;
    overflow: scroll;
  }
}
